.header{
    height: 55px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 15px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 100;
    background-color: white;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color: rgb(221, 221, 221);

}

.leftsection {

    display: flex;
    align-items: center;

}

.midsection {
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right:35px;
    max-width: 500px;
    align-items: center;

}

.sb{
    height: 40px;
    width: 66px;
    background-color: rgb(240,240,240);
    border-width: 1px;
    border-style:solid;
    border-color: rgb(192,192,192);
    margin-left: -1px;
    margin-right:8px;
}

.si{
    height:25px;
    margin-top:4px;
}

.vb{
   height: 40px;
   width:40px; 
border-radius: 20px;
border: none;
background-color: rgb(241, 241, 241);
    
}

.vci{
    height: 24px;
    margin-top:4px;
    
}
.rightsection {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right:24px;
    flex-shrink: 0;
}

.u  {
    height:24px;
}

.a { height:24px;
}

.n {height:24px;
}

.pp {height: 32px;
    border-radius: 16px;
}

.n-iconcon{
    position: relative;
}

.noticount {
    position: absolute;
    top:-5px;
    right:-5px;
    background-color: rgb(185, 0, 0);
    color:white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;

}




.hmenu {
    height: 25px;
    margin-left: 24px;
    margin-right: 20px;
}

.youtubelogo {
    height: 20px
}
.serach::placeholder{
    font-family:Roboto, Arial;
    font-size: 16px;
    padding-left: 10px;
}
.search{
flex:1;
height: 36px;
font-size: 16px;
border-width:1px;
border-style: solid;
border-color:rgb(192,192,192);
width:0;

border-radius: 2px;
box-shadow: inset 1px 2px 3px rgba(0,0,0, 0.15);

}