.header{
    height: 55px;
    display:flex;
    flex-direction: row;

}

.leftsection {
    background-color: orange;
    width: 150px;
  

}

.midsection {
    background-color:blue;
    flex: 1;
    margin-left: 70px;
    margin-right:35px;
    max-width: 300px;
}


.rightsection {
    background-color: brown;
    width: 200px;

}